*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgba(148, 225, 245, 0.2) url("../img/bg-hero-desktop.svg") ;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
}

.navbar img{
    margin-top: 1vh;
}

.navbar a{
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-weight: 600;
}

.btnTry{
    padding: 1.5vh 5vw;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.ctnMSG{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8vh;
}

.ctnMSG p{
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.headerMSG{
    max-width: 45%;
    padding-right: 4vh;
    align-items: center;
    vertical-align: center;
}

.btnGetStarted{
    position: relative;
    padding: 1.5vh 3vw;
    background-color: rgb(255, 182, 233);
    border-radius: 50px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
}

.headerMSG h1{
    font-size: 4vh;
    font-weight: 600;
}

.headerIMG img{
    max-width: 100%;
}

.cards{
    display: flex;
    flex-direction: column;
}

.cardFlex{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 3vh;
}

.cardMSG{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding: 0 5vw;
}

.cardMSG h2{
    font-size: 3vh;
    margin-bottom: 1.5vh;
}

.cardMSG p{
    color: rgb(160, 160, 160);
}

.cardFlex:first-child{
    margin-top: 10vh;
}

.cardIMG img{
    max-width: 500px;
    padding: 5vh 2vw;
}

.cardContainer{
    position: relative;
    display: flex;
    margin-top: 14vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    max-width: 600px;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.card{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 6vh 0 5vh 0;
}

.card a{
    margin-top: 3vh;
}

footer{
    background-color: #00252e;
    margin-top: -10vh;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1.5vh;
    padding-top: 15vh;
    padding-bottom: 7vh;
    z-index: 0;
}

.contFlex{
    display: flex;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
    color: #fff;
}

.footerLogo{
    filter: brightness(0) invert(1);
    width: 150px;
}

.contact{
    display: flex;
    flex-direction: column;
    max-width: 33.33%;
}

.contact i{
    padding-top: 2vh;
    margin-right: 1vh;
}

.usefulLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 33.33%;
}